* {
  font-family: 'Raleway', sans-serif;
  color: #333333;
	}

#progress {
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #CDCDCD;
}

#progressBar {
     width: 1%;
     height: 3px;
     background-color: #0f4c81;
}


